<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Heart-Disease-Prediction-System</title>
    <link rel="stylesheet" href="/static/css/predictionForm.min.css">
    <link rel="stylesheet" href="/static/css/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">

<body>
 

    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
        <div class="container"><a class="navbar-brand logo pb-lg-0 me-lg-5 pe-lg-0 active" href="/">Heart Disease Prediction System&nbsp;</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{%url 'home' %}">Prediction</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'features'%}">Features</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{%url 'about' %}">About Us</a>
                    <li class="nav-item"><a class="nav-link" href="{%url 'contact-us' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Heart Disease Prediction System</h2>
                    <p>This System will help you to predict that you have heart disease or not</p>
                </div>
                <h4>Heart disease Prediction System</h4>
                <div class="row justify-content-center">
                    <div class="col">
                        <p>This system will make prediction on your intput that will you enter in prediction section.<br> And this system is not so accurate please go to doctor when you see the result.&nbsp;</p>
                    </div>
                </div>
                <h4>How system works:-</h4>
                <div class="row justify-content-center">
                    <div class="col">
                        <p>This system will work like that when you enter your data in prediction section of website it will check with the data that already provided to it.<br>And  you get the answer in percentage in under range 100. &nbsp;</p>
                    
               
            </div>
        </div>
   
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-12">
                    <h5>Get started</h5>
                    <ul>
                         <li><a href="{%url 'home' %}">Pridiction</a></li>
                        <li><a href="{%url 'about' %}">About Us</a></li>
                        <li><a href="{%url 'contact-us' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2023 Copyright Text</p>
        </div>
    </footer>
   <script src="/staticbootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/baguetteBox.min.js"></script>
    <script src="/static/js/vanilla-zoom.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>