<!DOCTYPE html>
<html lang="en" lang="english">

              <head>
                            <title>User details</title>
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <link rel="stylesheet" href="/static/css/predictionForm.min.css">
                            <link rel="stylesheet" href="/static/css/baguetteBox.min.css">
                            <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
                            <link rel="stylesheet" href="/static/css/vanilla-zoom.min.css">
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
              </head>
              <body>
                <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
                  <div class="container"><a class="navbar-brand logo pb-lg-0 me-lg-5 pe-lg-0 " href="/">Heart Disease Prediction System&nbsp;</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                      <div class="collapse navbar-collapse" id="navcol-1">
                          <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link active" href="{%url 'home' %}">Prediction</a></li>
                            <li class="nav-item"><a class="nav-link" href="{%url 'features'%}">Features</a></li>
                            <li class="nav-item"><a class="nav-link" href="{%url 'about' %}">About Us</a>
                            <li class="nav-item"><a class="nav-link" href="{%url 'contact-us' %}">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </nav>
                            <div class="container">  
                                          <form id="contact" action="../insertuser/" method="post">
                                            {% csrf_token %}
                                            <h3>Heart Disease Prediction System</h3>
                                            <h3>Please Enter Your Answer In Yes/ No..</h3>
                                            <h3>Enter The Capital Letter Of Each First Word...</h3>
                                            <fieldset>
                                              <label>Enter Your City:</label>
                                              <input placeholder="City" type="text" tabindex="2" name="ucity" required>
                                            </fieldset>
                                            <fieldset>
                                              <label>Enter Your State:</label>
                                              <input placeholder="State" type="text" tabindex="2" name="ustate" required>
                                            </fieldset>
                                            <fieldset>
                                              <label>Enter Your Country:</label>
                                              <input placeholder="Country" type="text" tabindex="2" name="ucountry" required>
                                            </fieldset>
                                            <fieldset>
                                              <label>Enter Your Age:</label>
                                              <input placeholder="Age" type="number" tabindex="2" name="uage" required>
                                            </fieldset>
                                            <fieldset>
                                              <label>Enter Your Gender:</label>
                                              <input placeholder="Gender" type="text" tabindex="3" name="usex" >
                                            </fieldset>
                                            <fieldset>
                                              <label>Have you Ever Experienced Chest pain Or Discomfort?:</label>
                                              <input placeholder="Chest pain" type="text" name="ucp" tabindex="4" >
                                            </fieldse>
                                            <fieldset>
                                              <label>You Are Suffering Form Diabetic?:</label>
                                              <input placeholder="Diabetes" type="text" name="udiabi" tabindex="4" >
                                            </fieldse>
                                            <fieldset>
                                              <label>You Feel Shortness Of Breath?:</label>
                                              <input placeholder="Difficulty breathing, feeling like you can't get enough air, or experiencing breathlessness during normal activities" type="text" name="usob" tabindex="4" >
                                            </fieldse>
                                            <label>You have Blood Presure?:</label>
                                            <input placeholder="Blood Presure" type="text" name="ubps" tabindex="4" >
                                            </fieldse>
                                             <label>You Are Suffering Form Fatigue?:</label>
                                             <input placeholder="Fatigue:Persistent tiredness or lack of energy that is not relieved by rest or sleep." type="text" name="ufati" tabindex="4" >
                                            </fieldse>
                                            </fieldse>
                                              <label>Have You Feel Nausea or vomiting?:</label>
                                              <input placeholder="Feeling sick to the stomach or vomiting without a clear cause." type="text" name="unov" tabindex="4" >
                                            </fieldse>
                                            <label>Have You Feel Indigestion or heartburn?:</label>
                                            <input placeholder="Discomfort or burning sensation in the chest  or upper abdomen, often after eating." type="text" name="uioh" tabindex="4" >
                                            </fieldse>
                                            </fieldse>
                                              <label>Have You Feel Excessive sweating?:</label>
                                              <input placeholder="Sweating that occurs without any apparent reason or is unrelated to physical exertion or temperature" type="text" name="ues" tabindex="4" >
                                            </fieldse>
                                            </fieldse>
                                               <label>Has there been any history of heart disease in the past?:</label>
                                               <input placeholder="Any Type of Heart disease.." type="text" name="uhhd" tabindex="4" >
                                            </fieldse>
                                            <fieldset>
                                              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                                            </fieldset>
                                            <p class="copyright">Designed by <a href="https://www.nichetechsolutions.com" target="_blank" title="nichetechsolutions">nichetechsolutions</a></p>
                                          </form><br>
                                        </div>
                                        <footer class="page-footer dark">
                                          <div class="container">
                                              <div class="row">
                                                  <div class="col-sm-3 col-lg-12">
                                                      <h5>Get started</h5>
                                                      <ul>
                                                        <li><a href="{%url 'home' %}">Prediction</a></li>
                                                        <li><a href="{%url 'about' %}">About Us</a></li>
                                                        <li><a href="{%url 'contact-us' %}">Contact Us</a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="footer-copyright">
                                              <p>© 2023 Copyright Text</p>
                                          </div>
                                      </footer>
              </body>
</html>