<h1>Form data submitted successfully!</h1>
<h1>Heart Disease Prediction Result</h1>
{% block content %}
{% if heart_damage1 %}
   <p>Your heart is 100% weak. Please go to the nearest heart hospital for a check-up. 
   This system is not 100% accurate, so please contact your nearest doctor.</p>

{% elif heart_damage2 %}
   <p>Your heart is 50% weak. Please go to the nearest heart hospital for a check-up. 
   This system is not 100% accurate, so please contact your nearest doctor.</p>
{% elif heart_damage3 %}
    <p>Your heart is 75% weak. Please go to the nearest heart hospital for a check-up. 
    This system is not 100% accurate, so please contact your nearest doctor.</p>
{% elif heart_damage4 %}
  <p>Your heart is 25% weak. Please go to the nearest heart hospital for a check-up. 
    This system is not 100% accurate, so please contact your nearest doctor.</p>
 

{% else %}
    <p>Re-Enter the Value.</p>
{% endif %}
{% endblock %}












   